!!!
%html
  %head.head-main
    %title.title-main RailsFoodOrdering
    %meta{:charset => 'utf-8'}/
    = render 'main/default'
    = render 'main/header'
    .container
      - flash.each do |message_type, message|
        %div.div-main{:class => "alert alert-#{message_type}"}= message
      .center.jumbotron
        %h1.h1-main Welcome to the Wolf's Food
        %h2.h2-main
          This is the home page for the Wolf's Food.
        %br
        = link_to 'Sign up now!', signup_path, class: 'btn btn-primary'
