%body
  %header
    #banner
      .cover
        %h1.welcome Welcome to Wolf's food
      %nav.navigation
        %ul.navigation-list
          %li
            %a.hyperlink{:href => "#banner"} HOME
          %li
            %a.hyperlink{:href => "pages/service"} SERVICE
          %li
            %a.hyperlink{:href => "pages/about"} ABOUT
          %li
            %a.hyperlink{:href => "pages/info"} CONTACT
