!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Ordering food
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap", :rel => "stylesheet"}/
    %script{:src => "./script.js"}
  %body
    %header
      #banner
        .cover
          %h1.welcome Welcome to Wolf's food
        %nav.navigation
          %ul.navigation-list
            %li
              %a.hyperlink{:href => "#banner"} HOME
            %li
              %a.hyperlink{:href => "#selects"} SERVICE
            %li
              %a.hyperlink{:href => "#about"} ABOUT
            %li
              %a.hyperlink{:href => "#footer"} CONTACT
      #selects.selects
        %select.category-select
          %option{:disabled => "disabled", :hidden => "", :selected => "selected", :value => ""} Category
          %option{:value => "salad"} Salad
          %option{:value => "soup"} Soup
          %option{:value => "drink"} Drink
        %span.arrow
        %select.category-select
          %option{:disabled => "disabled", :hidden => "", :selected => "selected", :value => ""} Sorting
          %option{:value => "alphabetically"} Alphabetically
          %option{:value => "ascending"} Ascending
          %option{:value => "descending"} Descending
        %span.arrow
        %select.category-select
          %option{:disabled => "disabled", :hidden => "", :selected => "selected", :value => ""} Vegetarian
          %option{:value => "salad"} Salad
          %option{:value => "soup"} Soup
          %option{:value => "drink"} Desert
        %span.arrow
        %div
          %section.price
            %label.home{:for => "priceSelect"} Price
            %span.minprice 10$
            %input#priceSelect{:max => "100", :min => "10", :name => "priceSelect", :type => "range", :value => "55"}/
            %span.maxprice 100$
    %main
      .container-home
        - @products.each do |product|
          .product.image-food
            =image_tag product.image, style: "width: 430px; display: block"
            %h2.image-title #{product.title}
            %br/
            %h4.food-price #{product.price} $
            %br/
            %p.description #{product.description}

      #about
        %article
          %h1.about-us ABOUT US
          %section
            %p
              At Wolf’s food, our mission is simple:
              enhance and educate the palate with the freshest ingredients and flavors,
              while surprising and exciting each guest with personal
              care and service.
            %h2.ingredients OUR INGREDIENTS
            %p
              We are committed to uniting fresh, locally grown produce with farm-raised and wild-caught seafood to make the freshest dishes you’ll find anywhere.
              Our signature raw bar offers a variety of Rhode Island oysters, crisp cherrystones, littleneck clams, and jumbo shrimp
              and many of our herbs and vegetables are grown in our vegetable farm on the north end of the pond.
              %br/
              %br/
    %footer#footer
      %div
        %h1.info Info
        %section
          %p{:onmouseout => "handleMouseOut(this)", :onmouseover => "handleMouseOver(this)"} Allergens
          %br/
          %p{:onmouseout => "handleMouseOut(this)", :onmouseover => "handleMouseOver(this)"} Privacy policy
          %br/
          %p{:onmouseout => "handleMouseOut(this)", :onmouseover => "handleMouseOver(this)"} Terms and conditions
      %div
        %h1.contact Contact
        %section
          %p +40 07 24 687 881
          %br/
          %p conatct@wolf.info
          %br/
          %p Stanescu 22, 400012 Cluj-Napoca
          %br/
      %div
        %h1.program Program
        %section.section-home
          %p M-F 10-22
          %br/
          %p S   10-23
          %br/
          %p S   10-23
          %br/
