%footer#footer
  %div
    %h1.info Info
    %section
      %p{:onmouseout => "handleMouseOut(this)", :onmouseover => "handleMouseOver(this)"} Allergens
      %br/
      %p{:onmouseout => "handleMouseOut(this)", :onmouseover => "handleMouseOver(this)"} Privacy policy
      %br/
      %p{:onmouseout => "handleMouseOut(this)", :onmouseover => "handleMouseOver(this)"} Terms and conditions
  %div
    %h1.contact Contact
    %section
      %p +40 07 24 687 881
      %br/
      %p conatct@wolf.info
      %br/
      %p Stanescu 22, 400012 Cluj-Napoca
      %br/
  %div
    %h1.program Program
    %section
      %p M-F 10-22
      %br/
      %p S   10-23
      %br/
      %p S   10-23
      %br/
