%main
  #selects.selects
    %select.category-select
      %option{:disabled => "disabled", :hidden => "", :selected => "selected", :value => ""} Category
      %option{:value => "salad"} Salad
      %option{:value => "soup"} Soup
      %option{:value => "drink"} Drink
    %span.arrow
    %select.category-select
      %option{:disabled => "disabled", :hidden => "", :selected => "selected", :value => ""} Sorting
      %option{:value => "alphabetically"} Alphabetically
      %option{:value => "ascending"} Ascending
      %option{:value => "descending"} Descending
    %span.arrow
    %select.category-select
      %option{:disabled => "disabled", :hidden => "", :selected => "selected", :value => ""} Vegetarian
      %option{:value => "salad"} Salad
      %option{:value => "soup"} Soup
      %option{:value => "drink"} Desert
    %span.arrow
    %div
      %section.price
        %label{:for => "priceSelect"} Price
        %span.minprice 10$
        %input#priceSelect{:max => "100", :min => "10", :name => "priceSelect", :type => "range", :value => "55"}/
        %span.maxprice 100$
  .container
    .product.image-food
      %img.image{:src => "https://images.unsplash.com/photo-1513104890138-7c749659a591?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"}/
      %h2.image-title Pizza quatro formaggi
      %br/
      %h4.food-price Price 12$
      %br/
      %p.description If you're looking for an ultra cheesy pizza then look no further than this classic!
    .product.image-food
      %img.image{:src => "https://images.unsplash.com/photo-1555949258-eb67b1ef0ceb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"}/
      %h2.image-title Pasta carbonara
      %br/
      %h4.food-price Price 10$
      %br/
      %p.description This cheesy pasta dish is an Italian favourite.
      %br/
    .product.image-food
      %img.image{:src => "https://images.unsplash.com/photo-1563379926898-05f4575a45d8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"}/
      %h2.image-title Pasta with shrimp
      %br/
      %h4.food-price Price 16$
      %br/
      %p.description Shrimp and pasta are a match made in heaven!
      %br/
    .product.image-food
      %img.image{:src => "https://images.unsplash.com/photo-1473093295043-cdd812d0e601?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"}/
      %h2.image-title Vegan pasta
      %br/
      %h4.food-price Price 13$
      %br/
      %p.description Best vegan pasta in the town.
      %br/
    .product.image-food
      %img.image{:src => "https://images.unsplash.com/photo-1511994714008-b6d68a8b32a2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80"}/
      %h2.image-title Baked vegetables
      %br/
      %h4.food-price Price 10$
      %br/
      %p.description The chef's secret recipe.
      %br/
    .product.image-food
      %img.image{:src => "https://images.unsplash.com/photo-1535569807835-01fd773379ad?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"}/
      %h2.image-title Hamburger
      %br/
      %h4.food-price Price 8$
      %br/
      %p.description Close your eyes, and picture the perfect hamburger. Here it is!
    .product.image-food
      %img.image{:src => "https://images.unsplash.com/photo-1543339308-43e59d6b73a6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"}/
      %h2.image-title Vitamin Salad
      %br/
      %h4.food-price Price 6$
      %br/
      %p.description Just perfect!
      %br/
    .product.image-food
      %img.image{:src => "https://images.unsplash.com/photo-1544025162-d76694265947?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80"}/
      %h2.image-title Ribs
      %br/
      %h4.food-price Price 19$
      %br/
      %p.description Baking low and slow is our secret to fall-off-the-bone oven baked ribs.
