.body-password-reset {
  padding-top: 40px;
}

.page-title-password-reset {
  text-align: center;
}

div.alert.alert-success {
  color: white;
  background: white;
  border-color: white;
}

div.div-main.alert.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
