.h1-login {
  font-size: 3em;
  letter-spacing: -2px;
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;

  span {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.sign-up {
  margin-top: 5px;
}
