!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Ordering food
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap", :rel => "stylesheet"}/
    %script{:src => "./script.js"}
  %body
    = yield